<div class="jumbotron">
  <img src="assets/science1.jpg" class="ing">
  <div class="jcontent">
    <h1 class="display-5">514 patients recover from COVID-19 in Kazakhstan</h1>
    <p class="lead">514 patients recovered from coronavirus in Kazakhstan in the past 24 hours. Overall, their number in the country reached 112,806. According to the official information of Kazakh Health Ministry, 716 more coronavirus cases were recorded in the last day.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Read more</a>
  </div>
</div>
