<div class="jumbotron">
  <img src="assets/science.jpg" class="ing">
  <div class="jcontent">
    <h1 class="display-5">6 tips to help you detect fake science news</h1>
    <p class="lead">Khabib Nurmagomedov responded to Conor McGregor's shock retirement by saying 'there can be only one
      king in the jungle'</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Read more</a>
  </div>
</div>
<div class="news">
  <h5>Science Transfer News</h5>
</div>
<div class="container mt-5">
  <div class="row form-inline d-flex justify-content-center">
    <div class="form-group col-10">
      <input class=" form-control col-12" type="text" placeholder="Search news" name="item" [(ngModel)]="searchText">
    </div>
  </div>
</div>
<app-science-cards [searchText]="searchText"></app-science-cards>
