<div class="news">
  <h5>Football Transfer News</h5>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="assets/politic1.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">In the Kyrgyz Republic on the eve of the SCO banned rallies on the central streets of the capital</h4>
        <p class="card-text">During the meeting of the Council of Heads of State of the Shanghai Cooperation Organization, the Ministry of Internal Affairs of Kyrgyzstan will pay special attention to ensuring public security and law and order. This is reported by the press service of the department.</p>
        <hr>
        <a href="#" class="btn btn-primary">More Info</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="assets/politic1.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">In the Kyrgyz Republic on the eve of the SCO banned rallies on the central streets of the capital</h4>
        <p class="card-text">During the meeting of the Council of Heads of State of the Shanghai Cooperation Organization, the Ministry of Internal Affairs of Kyrgyzstan will pay special attention to ensuring public security and law and order. This is reported by the press service of the department.</p>
        <hr>
        <a href="#" class="btn btn-primary">More Info</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="assets/politic1.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">In the Kyrgyz Republic on the eve of the SCO banned rallies on the central streets of the capital</h4>
        <p class="card-text">During the meeting of the Council of Heads of State of the Shanghai Cooperation Organization, the Ministry of Internal Affairs of Kyrgyzstan will pay special attention to ensuring public security and law and order. This is reported by the press service of the department.</p>
        <hr>
        <a href="#" class="btn btn-primary">More Info</a>
      </div>
    </div>
  </div>
</div>
