<div class="news">
  <h5>Football Transfer News</h5>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="../../../assets/finance.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Astana Finance Days 2020 discusses Islamic Finance development and digital transformation
          in Kazakhstan</h4>
        <p class="card-text">Today the top world experts discussed these and many other issues during the Astana Finance
          Days. The traditional world financial conference is held online this year for the first time. It was attended
          by recognized specialists of the industry with extensive experience in introducing the Islamic finance
          tools.</p>
        <hr>
        <a href="#" class="btn btn-primary">More Info</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="../../../assets/finance.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Astana Finance Days 2020 discusses Islamic Finance development and digital transformation
          in Kazakhstan</h4>
        <p class="card-text">Today the top world experts discussed these and many other issues during the Astana Finance
          Days. The traditional world financial conference is held online this year for the first time. It was attended
          by recognized specialists of the industry with extensive experience in introducing the Islamic finance
          tools. </p>
        <hr>
        <a href="#" class="btn btn-primary">More Info</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="../../../assets/finance.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Astana Finance Days 2020 discusses Islamic Finance development and digital transformation
          in Kazakhstan</h4>
        <p class="card-text">Today the top world experts discussed these and many other issues during the Astana Finance
          Days. The traditional world financial conference is held online this year for the first time. It was attended
          by recognized specialists of the industry with extensive experience in introducing the Islamic finance
          tools. </p>
        <hr>
        <a href="#" class="btn btn-primary">More Info</a>
      </div>
    </div>
  </div>
</div>
