 <div class="row">
  <div class="col-sm-4" *ngFor="let news of listOfNews | filter: searchText">
    <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal" (click)="showCertainNews(true, news.id)" >
      <img class="card-img-top" src="{{news.image}}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{news.name | titlecase}}</h4>
        <p class="card-text">{{news.info | summary}}</p>
        <hr>
        <a href="#" class="btn btn-primary">More Info</a>
    </div></a></div>
  </div>
