<div class=" intro-2">
  <div class="full-bg-img mask rgba-black-light flex-center">
    <div class="container text-center white-text wow fadeInUp" style="height: 500px">
    </div>
  </div>
</div>


<div class="card-deck m-4">
  <div class="card">
    <div class="view overlay">
      <img class="card-img-top" src="assets/sport.jpg"
           alt="Card image cap">
      <a href="sport">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

  </div>
  <div class="card">
    <div class="view overlay">
      <img class="card-img-top" src="assets/politics.jpg"
           alt="Card image cap">
      <a href="politics">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

  </div>

  <div class="card">
    <div class="view overlay">
      <img class="card-img-top" src="assets/science.jpg"
           alt="Card image cap">
      <a href="science">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  </div>
 </div>


